{% extends 'base.html' %}

{% load calendar_extras %}

{% block content %}
<div class="container p-3">
        <table class="table table-bordered border-dark">
                <thead>
                        <tr>
                                <th scope="col">Weekday 1</th>
                                <th scope="col">Weekday 2</th>
                                <th scope="col">Weekday 3</th>
                                <th scope="col">Weekday 4</th>
                                <th scope="col">Weekday 5</th>
                                <th scope="col">Weekday 6</th>
                                <th scope="col">Weekday 7</th>
                        </tr>
                </thead>
                <tbody>
                        <tr>
                                <td>
                                <p><b>1</b></p>
                                <i class="wi wi-moon-alt-new"></i>
                                <i class="wi wi-moon-alt-full"></i>
                                <i class="wi wi-moon-alt-third-quarter"></i>
                                </td>
                                
                                <td>
                                <p><b>2</b></p>
                                <i class="wi wi-moon-alt-new"></i>
                                <i class="wi wi-moon-alt-full"></i>
                                <i class="wi wi-moon-alt-third-quarter"></i>
                                </td>
                                
                                <td>
                                <p><b>3</b></p>
                                <i class="wi wi-moon-alt-new"></i>
                                <i class="wi wi-moon-alt-full"></i>
                                <i class="wi wi-moon-alt-third-quarter"></i>
                                </td>
                                
                                <td>
                                <p><b>4</b></p>
                                <i class="wi wi-moon-alt-new"></i>
                                <i class="wi wi-moon-alt-full"></i>
                                <i class="wi wi-moon-alt-third-quarter"></i>
                                </td>
                                
                                <td>
                                <p><b>5</b></p>
                                <i class="wi wi-moon-alt-new"></i>
                                <i class="wi wi-moon-alt-full"></i>
                                <i class="wi wi-moon-alt-third-quarter"></i>
                                </td>
                                
                                <td>
                                <p><b>6</b></p>
                                <i class="wi wi-moon-alt-new"></i>
                                <i class="wi wi-moon-alt-full"></i>
                                <i class="wi wi-moon-alt-third-quarter"></i>
                                </td>
                                
                                <td>
                                <p><b>7</b></p>
                                <i class="wi wi-moon-alt-new"></i>
                                <i class="wi wi-moon-alt-full"></i>
                                <i class="wi wi-moon-alt-third-quarter"></i>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>
{% endblock content %}
